@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --background: 0 0% 100%;
  --foreground: 241.8182 56.5714% 34.3137%;
  --card: 0 0% 100%;
  --card-foreground: 241.8182 56.5714% 34.3137%;
  --popover: 0 0% 100%;
  --popover-foreground: 241.8182 56.5714% 34.3137%;
  --primary: 258.1395 100% 66.2745%;
  --primary-foreground: 0 0% 100%;
  --secondary: 252.0000 100% 97.0588%;
  --secondary-foreground: 244.7727 69.8413% 50.5882%;
  --muted: 250.0000 100% 97.6471%;
  --muted-foreground: 262.0465 100.0000% 57.8431%;
  --accent: 214.0541 100.0000% 92.7451%;
  --accent-foreground: 226.2069 84.4660% 40.3922%;
  --destructive: 0 100% 60.1961%;
  --destructive-foreground: 0 0% 100%;
  --border: 226.4516 100% 93.9216%;
  --input: 226.4516 100% 93.9216%;
  --ring: 258.1395 100% 66.2745%;
  --chart-1: 258.1395 100% 66.2745%;
  --chart-2: 262.0465 100.0000% 57.8431%;
  --chart-3: 263.3803 84.1897% 50.3922%;
  --chart-4: 263.4637 83.2558% 42.1569%;
  --chart-5: 263.3333 80.8989% 34.9020%;
  --sidebar: 250.0000 100% 97.6471%;
  --sidebar-foreground: 241.8182 56.5714% 34.3137%;
  --sidebar-primary: 258.1395 100% 66.2745%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 214.0541 100.0000% 92.7451%;
  --sidebar-accent-foreground: 226.2069 84.4660% 40.3922%;
  --sidebar-border: 226.4516 100% 93.9216%;
  --sidebar-ring: 258.1395 100% 66.2745%;
  --font-sans: Open Sans, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 1.45rem;
  --shadow-2xs: 2px 2px 5px 0px hsl(254.9133 100% 66.0784% / 0.15);
  --shadow-xs: 2px 2px 5px 0px hsl(254.9133 100% 66.0784% / 0.15);
  --shadow-sm: 2px 2px 5px 0px hsl(254.9133 100% 66.0784% / 0.30), 2px 1px 2px -1px hsl(254.9133 100% 66.0784% / 0.30);
  --shadow: 2px 2px 5px 0px hsl(254.9133 100% 66.0784% / 0.30), 2px 1px 2px -1px hsl(254.9133 100% 66.0784% / 0.30);
  --shadow-md: 2px 2px 5px 0px hsl(254.9133 100% 66.0784% / 0.30), 2px 2px 4px -1px hsl(254.9133 100% 66.0784% / 0.30);
  --shadow-lg: 2px 2px 5px 0px hsl(254.9133 100% 66.0784% / 0.30), 2px 4px 6px -1px hsl(254.9133 100% 66.0784% / 0.30);
  --shadow-xl: 2px 2px 5px 0px hsl(254.9133 100% 66.0784% / 0.30), 2px 8px 10px -1px hsl(254.9133 100% 66.0784% / 0.30);
  --shadow-2xl: 2px 2px 5px 0px hsl(254.9133 100% 66.0784% / 0.75);
}

.dark {
  --background: 222 54.0541% 14.5098%;
  --foreground: 0 0% 100%;
  --card: 244.2254 53.3835% 26.0784%;
  --card-foreground: 0 0% 100%;
  --popover: 244.2254 53.3835% 26.0784%;
  --popover-foreground: 0 0% 100%;
  --primary: 257.9104 100% 86.8627%;
  --primary-foreground: 0 0% 100%;
  --secondary: 244.2254 53.3835% 26.0784%;
  --secondary-foreground: 0 0% 100%;
  --muted: 244.2254 53.3835% 26.0784%;
  --muted-foreground: 0 0% 100%;
  --accent: 244.2857 65.1163% 66.2745%;
  --accent-foreground: 0 0% 100%;
  --destructive: 0 94.4444% 78.8235%;
  --destructive-foreground: 0 0% 100%;
  --border: 260.9524 81.8182% 30.1961%;
  --input: 260.9524 81.8182% 30.1961%;
  --ring: 257.9104 100% 86.8627%;
  --chart-1: 0 0% 100%;
  --chart-2: 257.9104 100% 86.8627%;
  --chart-3: 262.2414 93.5484% 75.6863%;
  --chart-4: 263.2117 79.1908% 66.0784%;
  --chart-5: 263.4637 78.1659% 55.0980%;
  --sidebar: 222 54.0541% 14.5098%;
  --sidebar-foreground: 0 0% 100%;
  --sidebar-primary: 257.9104 100% 86.8627%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 244.2857 65.1163% 66.2745%;
  --sidebar-accent-foreground: 0 0% 100%;
  --sidebar-border: 260.9524 81.8182% 30.1961%;
  --sidebar-ring: 257.9104 100% 86.8627%;
  --font-sans: Open Sans, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.625rem;
  --shadow-2xs: 2px 2px 4px 0px hsl(255.2239 97.1014% 86.4706% / 0.10);
  --shadow-xs: 2px 2px 4px 0px hsl(255.2239 97.1014% 86.4706% / 0.10);
  --shadow-sm: 2px 2px 4px 0px hsl(255.2239 97.1014% 86.4706% / 0.20), 2px 1px 2px -1px hsl(255.2239 97.1014% 86.4706% / 0.20);
  --shadow: 2px 2px 4px 0px hsl(255.2239 97.1014% 86.4706% / 0.20), 2px 1px 2px -1px hsl(255.2239 97.1014% 86.4706% / 0.20);
  --shadow-md: 2px 2px 4px 0px hsl(255.2239 97.1014% 86.4706% / 0.20), 2px 2px 4px -1px hsl(255.2239 97.1014% 86.4706% / 0.20);
  --shadow-lg: 2px 2px 4px 0px hsl(255.2239 97.1014% 86.4706% / 0.20), 2px 4px 6px -1px hsl(255.2239 97.1014% 86.4706% / 0.20);
  --shadow-xl: 2px 2px 4px 0px hsl(255.2239 97.1014% 86.4706% / 0.20), 2px 8px 10px -1px hsl(255.2239 97.1014% 86.4706% / 0.20);
  --shadow-2xl: 2px 2px 4px 0px hsl(255.2239 97.1014% 86.4706% / 0.50);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .glass {
    @apply bg-white/10 backdrop-blur-md border border-white/20;
  }
}
